<% provide :title, @team.name %>
<% provide :button_text, t(".btn_text") %>
<%= stylesheet_link_tag "body-style" %>

<div class="signup-form">
  <div class="row">
    <%= render "form" %>
  </div>
</div>
