<div class="item<%= " active" if slide_counter == Settings.zero %>">
  <div class="fill carousel-box width="600px"" style="background-image:url('<%= slide.header_img.url %>');"></div>
  <div class="carousel-caption">
    <h2><%= link_to slide.header, slide %></h2>
  </div>
</div>
