<% provide :title, @league.name %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= @league.name %></h1>
    </div>
  </div>
  <div class="row">
    <%= @league.name %>
    <br>
    <%= render partial: "teams/team", collection: @league.teams %>
  </div>
</div>
