<li>
  <%= gravatar_for user, size: Settings.gravatar_size %>
  <%= link_to user.name, user %>
  <% if authorized_admin? current_user %>
    | <%= link_to t(".delete"), user, method: :delete,
      data: { confirm: t(".affirm_msg") } %>
  <% end %>
</li>
