@import "bootstrap-sprockets";
@import "bootstrap";
$gray-border: #bbb;
$beuty-blue: #2196F3;
$dark-shade-blue: #064579;
$hoi-white: #eee;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid $gray-border;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: $hoi-white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: $beuty-blue;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: $dark-shade-blue;
}

/* Style page content */
.main {
  padding: 10px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.article-box {
  height: 300px;
  overflow: hidden
}

.article-box-index {
  height: 200px;
  overflow: hidden
}

.carousel-box {
  background-size: 100% 100% !important;
}

.main-article-image {
  height: 200px;
  width: 100%
}

.article-image {
  height: 100%;
  width: 100%
}

.match-team-img {
  height: 100%;
  width: 100%
}

.fixed-box {
  position: fixed;
  width: 300px
}

.caption {
  width: 100%;
  position: absolute;
}

.thumbnail {
  padding: 15px;
  border: 0 none;
  box-shadow: none;
  margin: 0;
  margin-bottom: 0;
}

.caption h4 {
  -webkit-font-smoothing: antialiased;
}

.session_remember {
  width: auto;
  margin-left: 0 !important;
}
