$gray-border: #bbb;
$dark-grayish-blue: #969fa4;
$light-grayish-blue: #f2f3f7;
$moderate-lime-green: #5cb85c;
$very-dark-gray: #636363;
$light-gray: #d4d4d4;
$light-gray2: #ccc;
$dark-gray: #999;
$dark-gray2: #777;
$white: #fff;
$box-gray: rgba(0, 0, 0, 0.3);
$very-light-gray: #f7f7f7;
$black: #2b2f34;
$gray-lighter: #d3d3d3;
$vivid-blue: #2196f3;
$very-light-gray: #f1f1f1;

/* signupform */
.form-control{
  height: 40px;
  box-shadow: none;
  color: $dark-grayish-blue;
}
.form-control:focus{
  border-color: $moderate-lime-green;
}
.form-control, .btn{
  border-radius: 3px;
}
.signup-form{
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2{
  color: $very-dark-gray;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}
.signup-form h2:before, .signup-form h2:after{
  content: "";
  height: 2px;
  width: 30%;
  background: $light-gray;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.signup-form h2:before{
  left: 0;
}
.signup-form h2:after{
  right: 0;
}
.signup-form .hint-text{
  color: $dark-gray;
  margin-bottom: 30px;
  text-align: center;
}
.signup-form form{
  color: $dark-gray;
  border-radius: 3px;
  margin-bottom: 15px;
  background: $light-grayish-blue;
  box-shadow: 0px 2px 2px $box-gray;
  padding: 30px;
}
.signup-form .form-group{
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
  margin-top: 3px;
}
.signup-form .btn{
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}
.signup-form .row div:first-child{
  padding-right: 10px;
}
.signup-form .row div:last-child{
  padding-left: 10px;
}
.signup-form a{
  color: $white;
  text-decoration: underline;
}
.signup-form a:hover{
  text-decoration: none;
}
.signup-form form a{
  color: $moderate-lime-green;
  text-decoration: none;
}
.signup-form form a:hover{
  text-decoration: underline;
}
.text-center{
  margin-top: 10px;
}

/* loginform */
.login-form {
  width: 340px;
  margin: 30px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: $very-light-gray;
  box-shadow: 0px 2px 2px $box-gray;
  padding: 30px;
}
.login-form h2 {
  color: $very-dark-gray;
  text-align: center;
  margin: 0 0 15px;
}
.login-form .hint-text {
  color: $dark-gray2;
  margin-top: 10px;
  text-align: center;
  width: 25%;

}
.form-control, .btn {
  color: $black;
  min-height: 38px;
  border-radius: 2px;
}
.login-btn {
  font-size: 15px;
  font-weight: bold;
}
.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid $light-gray2;
}
.or-seperator i {
  padding: 0 10px;
  background: $very-light-gray;
  position: relative;
  top: -11px;
  z-index: 1;
}
.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
}
.social-btn .btn i {
  float: left;
  margin: 4px 15px  0 5px;
  min-width: 15px;
}
.input-group-addon .fa{
  font-size: 18px;
}

.gravatar_edit {
  margin-top: 15px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.profile_avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-top: 10px;
  padding-bottom: 15px;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Team image */
.team-image-index {
  width: 600px;
  height: 300px;
}
.team-logo-index {
  width: 50px;
  height: 50px;
}
.team-logo2-index {
  width: 30px;
  height: 30px;
}
.player-picture-index {
  width: 300px;
  height: 200px;
}

.player-small-picture-index {
  width: 150px;
  height: 100px;
}

.remove-btn-vertical-centering {
  top: 50%;
  transform: translateY(100%);
}

/* Config table */
td.alignRight {
  text-align: right;
}
th.alignRight {
  text-align: right;
}
td.alignLeft {
  text-align: left;
}
th.alignLeft {
  text-align: left;
}
td.alignCenter {
  text-align: center;
}
th.alignCenter {
  text-align: center;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: $very-light-gray;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: $vivid-blue;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: $vivid-blue;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.well-custom {
  margin-top: 20px;
  width: 350px;
}
